@model List<Horario>;

@{
    ViewData["Title"] = "Editar Horarios";
    Layout = "~/Views/Shared/_UsuariosLayout.cshtml";
    var horarios = Model;
}

<h1>Editar horarios</h1>


<div class="text-center">

    <div class="container mt-4">

        <form method="POST" asp-action="EditarHorarios">

            <div id="horariosContainer">
                <!-- Horario 1 -->
                <div class="row mb-2 justify-content-center">
                    <div class="col-md-12">
                        <b><label for="horario1">Horario 1:</label></b><br /> <br />
                    </div>
                    <div class="col-md-2">
                        <label for="inicio1">Inicio:</label>
                        <input type="time" asp-for="@Model[0].HoraInicio" class="form-control mb-2">
                        <span asp-validation-for="@Model[0].HoraInicio" class="text-danger"></span>
                    </div>
                    <div class="col-md-2">
                        <label for="fin1">Fin:</label>
                        <input type="time" asp-for="@Model[0].HoraFin" class="form-control">
                        <span asp-validation-for="@Model[0].HoraFin" class="text-danger"></span><br />
                    </div>
                </div>

                <!-- Horario 2 -->
                <div class="row mb-2 justify-content-center">
                    <div class="col-md-12">
                        <b><label for="horario2">Horario 2:</label></b> <br /> <br />
                    </div>
                    <div class="col-md-2">
                        <label for="inicio2">Inicio:</label>
                        <input type="time" asp-for="@Model[1].HoraInicio" class="form-control mb-2">
                        <span asp-validation-for="@Model[1].HoraInicio" class="text-danger"></span>
                    </div>
                    <div class="col-md-2">
                        <label for="fin2">Fin:</label>
                        <input type="time" asp-for="@Model[1].HoraFin" class="form-control">
                        <span asp-validation-for="@Model[1].HoraFin" class="text-danger"></span><br />

                    </div>
                </div>

                <!-- Horario 3 -->
                <div class="row mb-4 justify-content-center">
                    <div class="col-md-12">
                        <b> <label for="horario3">Horario 3:</label> </b> <br /> <br />
                    </div>
                    <div class="col-md-2">
                        <label for="inicio3">Inicio:</label>
                        <input type="time" asp-for="@Model[2].HoraInicio" class="form-control mb-2">
                        <span asp-validation-for="@Model[2].HoraInicio" class="text-danger"></span>
                    </div>
                    <div class="col-md-2">
                        <label for="fin3">Fin:</label>
                        <input type="time" asp-for="@Model[2].HoraFin" class="form-control">
                        <span asp-validation-for="@Model[2].HoraFin" class="text-danger"></span><br />
                    </div>
                </div>

                <!-- Horario 4 -->
                <div class="row mb-4 justify-content-center">
                    <div class="col-md-12">
                        <b> <label for="horario4">Horario 4:</label> </b> <br /> <br />
                    </div>
                    <div class="col-md-2">
                        <label for="inicio4">Inicio:</label>
                        <input type="time" asp-for="@Model[3].HoraInicio" class="form-control mb-2">
                        <span asp-validation-for="@Model[3].HoraInicio" class="text-danger"></span>
                    </div>
                    <div class="col-md-2">
                        <label for="fin4">Fin:</label>
                        <input type="time" asp-for="@Model[3].HoraFin" class="form-control">
                        <span asp-validation-for="@Model[3].HoraFin" class="text-danger"></span><br />
                    </div>
                </div>
            </div>

            <div class="row mt-5 justify-content-center">

                <div class="col-6 col-md-6">
                    <button type="submit" class="btn" style="background-color: #3CAF50; color: #FFFFFF;">Guardar</button>
                </div>

            </div>
        </form>
    </div>

</div>